

nav {
    height: 6dvh;
    width: 1525px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(0, 0, 0);
}

.nav-img-invert {
    filter: invert(100);
    height: 3.5dvh;
}

.nav-link {
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
}

#bin {
    margin-left: 105px;
    margin-top: 5px;
}


body {
    background-color: rgb(15, 15, 15);

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



#home {
    width: 4.5dvh;
    height: 4.5dvh;
    border-radius: 22dvh;
    margin-left: 55dvh;
    background-color: #e0dcdc;

}

#line-thing {
    filter: invert(100);
}

#search-bar {
    width: 45dvh;
    height: 4.5dvh;
    border-radius: 22dvh;

    font-size: 13px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-left: 50px;

    background-color: #171717;
}

#text10 {
    margin-top: 10px;
    margin-left: 10px;
    color: #B3B3B3;
}

#search {
    height: 2.5dvh;
    margin-top: 7px;
    margin-left: 5px;
}

#support {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 5px;
    word-spacing: 2px;
    font-size: 12;
    
}


/* bodyodyody */


#main {
    display: flex;
    flex-direction: row;
    
}

#your-library {
    width: 348px;
    height: 75dvh;
    border-radius: 5px;
    background-color: #121212;
    margin-top: 10px;

}

#library-title {
    color: #ffffff;
    display: flex;
    margin-top: 20px;
    margin-left:15px;
}

#create-playlist {
    color: #ffffff;
    width: 38dvh;
    height: 13dvh;
    background-color: #212020;
    margin-left: 7px;
    margin-top:20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: start;
}

#text1 {
    margin:0;
}

#text2 {
    margin:0;
    color: #B3B3B3;
}

#browse-podcasts {
    color: #ffffff;
    width: 38dvh;
    height: 13dvh;
    background-color: #212020;
    margin-left: 7px;
    border-radius: 10px;
    margin-top:20px;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: start;
    
}

#policy {
    color: #ffffff;
    width: 38dvh;
    height: 15dvh;
    font-size: 8px;
    background-color: transparent;
    margin-left: 7px;
    margin-top: 160px;
    border-radius: 10px;
    

    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
}

#text8 {
    color:#B3B3B3;
}

#text9 {
    color:#ffffff;
    background-color: #212121;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 700;
    border-color: #b3b3b3;
    border-style:solid;
    border-width: 1px;
    width: 80px;
    height: 25px;
    display: flex;
    align-items: flex-end;
}

#intobutton {
    height:15px;
    width:15px;
    padding-top:5px;
}

#popular-albums {
    width: 1200px;
    height: 75dvh;
    border-radius: 10px;
    background-color: #121212;
    color: #ffffff;

    margin-top: 10px;
    margin-left:10px;
    

    display:grid;
    grid-template-columns: repeat(8,143px);
    grid-template-rows: repeat(3, 1fr);
    align-content:flex-start;
    row-gap: 20px;

}

#header1 {
    display:grid;
    grid-column: 1/9;
    grid-row:1;
    margin-left: -5px;
    margin-top: 70px;
    margin-left: 20px;
}

article .image-size {
    width:125px;
    height:130px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: -5px;
}

article #text4 {
    margin-left: 20px;
    margin-bottom: 50px;
    color: #B3B3B3;
}

article #text3 {
    margin-left:20px;
    margin-bottom: -20px;
}

footer{
    height:50px;
    width:1525px;

    background:linear-gradient(right, purple, blue);
    
    color:#ffffff;
}

.browse {
    margin:0;
    padding-left: 15px;
    padding-top: 5px;
}

#button1 {
    color: #000;
    height: 25px;
    width: 12dvh;
    border-radius: 25px;
    background-color: #ffffff;
    border:none;
    font-weight: 700;
    font-size: 10px;
    margin-left:10px;
    margin-top:10px;
}